@font-face {
  font-family: pokemonGB;
  src: url('./PokemonGb-RAeo.ttf')
}

.pokemon-modal-container {
  box-sizing: border-box;
  font-family: pokemonGB;
  font-size: 10px;
  justify-content: center;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: auto;
  margin-left:-5%;
  margin-top: auto;
  margin-bottom:10%;
  width:110%;
  height:84%;
  background-color: white;
  position: absolute;
  max-height: 700px;

}

.pokemon-modal-info {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
}

.box {
  height: 100vh;
  background-color: grey;
  transition: background .25s ease;
  z-index: 999;
}

button {
  font-family: pokemonGB;
  font-size: 10px;
}

.pokemon-modal-image {
  height: 30%;
  width: 30%;
  display: inline-block;
  float: left;
  margin-left: 10%;
  margin-top: 10%;
}

.gotta-catch-em-all {
  margin-top: 20px;
  font-size: 20px;
}

/* .pokemon-details {
  margin-top: 20%;
  width: 50%;
  float: right;
} */

.selection-buttons {
  margin-top: 10%;
  padding: 5px;
}

.clickable-button {
  padding: 5px;
}

.pokemon-modal-description {
  margin-top: 5%;
  width: 50%;
  justify-content: center;
  float: right;
  font-size: 15px;
  border: 1px solid;
  padding: 10px;
}

.pokemon-details {
  font-size: 15px;
}

